@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 20 14.3% 4.1%;
        --card: 0 0% 100%;
        --card-foreground: 20 14.3% 4.1%;
        --popover: 0 0% 100%;
        --popover-foreground: 20 14.3% 4.1%;
        --primary: 24.6 95% 53.1%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 60 4.8% 95.9%;
        --secondary-foreground: 24 9.8% 10%;
        --muted: 60 4.8% 95.9%;
        --muted-foreground: 25 5.3% 44.7%;
        --accent: 60 4.8% 95.9%;
        --accent-foreground: 24 9.8% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 20 5.9% 90%;
        --input: 20 5.9% 90%;
        --ring: 24.6 95% 53.1%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 20 14.3% 4.1%;
        --foreground: 60 9.1% 97.8%;
        --card: 20 14.3% 4.1%;
        --card-foreground: 60 9.1% 97.8%;
        --popover: 20 14.3% 4.1%;
        --popover-foreground: 60 9.1% 97.8%;
        --primary: 20.5 90.2% 48.2%;
        --primary-foreground: 60 9.1% 97.8%;
        --secondary: 12 6.5% 15.1%;
        --secondary-foreground: 60 9.1% 97.8%;
        --muted: 12 6.5% 15.1%;
        --muted-foreground: 24 5.4% 63.9%;
        --accent: 12 6.5% 15.1%;
        --accent-foreground: 60 9.1% 97.8%;
        --destructive: 0 72.2% 50.6%;
        --destructive-foreground: 60 9.1% 97.8%;
        --border: 12 6.5% 15.1%;
        --input: 12 6.5% 15.1%;
        --ring: 20.5 90.2% 48.2%;
    }
}

@layer base {
    * {
        @apply scroll-smooth border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    .max-container {
        @apply mx-auto w-[1240px] max-w-full px-4;
    }

    h1 {
        @apply select-none text-4xl font-extrabold tracking-tight lg:text-5xl;
    }

    h2 {
        @apply text-3xl font-semibold tracking-tight;
    }

    h3 {
        @apply text-[18px] font-bold leading-[28px] md:text-2xl;
    }

    h4 {
        @apply select-none text-xl font-semibold tracking-tight;
    }

    p {
        @apply leading-snug tracking-normal font-normal;
    }

    label {
        @apply text-sm font-medium leading-none;
    }

    label > span {
        @apply select-none font-normal leading-[20px] text-destructive;
    }

    .text-12 {
        @apply text-[12px] leading-[16px];
    }

    .text-14 {
        @apply text-[14px] leading-[20px];
    }

    .text-15 {
        @apply text-[15px] leading-[20px];
    }

    .text-16 {
        @apply text-[16px] leading-[24px];
    }

    .text-18 {
        @apply text-[18px] leading-[22px];
    }

    .text-20 {
        @apply text-[20px] leading-[24px];
    }

    .text-24 {
        @apply text-[24px] leading-[30px];
    }

    .text-26 {
        @apply text-[26px] leading-[32px];
    }

    .text-30 {
        @apply text-[30px] leading-[38px];
    }

    .text-36 {
        @apply text-[36px] leading-[44px];
    }

    .flex-center {
        @apply flex items-center justify-center;
    }
}

.top-cal {
    top: calc(-0px + 100dvh);
}

.loader {
    background-color: grey;
    text-align: center;
    border-radius: 12px;
    padding: 6px;
}

.placeholder-item {
    position: relative;
    overflow: hidden;
}

.placeholder-item::before {
    content: "";
    z-index: 9999;
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 50px;
    background-image: linear-gradient(
        to right,
        rgba(144, 144, 144, 0),
        rgb(224, 231, 233)
    );
    animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
    from {
        left: -150px;
    }

    to {
        left: 100%;
    }
}

td button[disabled] {
    cursor: not-allowed !important;
    text-decoration: line-through !important;
}

.rdrDefinedRangesWrapper {
    display: none;
}

.custom-shadow {
    box-shadow: 0 0px 8px 0px rgb(0 0 0 / 0.1);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 2;
    --_g: no-repeat
        radial-gradient(circle closest-side, #ffffff94 90%, #dcdcdc00);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
}

@keyframes l3 {
    20% {
        background-position: 0% 0%, 50% 50%, 100% 50%;
    }

    40% {
        background-position: 0% 100%, 50% 0%, 100% 50%;
    }

    60% {
        background-position: 0% 50%, 50% 100%, 100% 0%;
    }

    80% {
        background-position: 0% 50%, 50% 50%, 100% 100%;
    }
}

.skeleton {
    background: linear-gradient(270deg, #d2d2d2, #eaeaea, #eaeaea, #fafafa);
    background-size: 400% 100%;
    animation: skeleton_loading 8s ease-in-out infinite;
}

@keyframes skeleton_loading {
    0% {
        background-position: 200% 0;
    }

    100% {
        background-position: -200% 0;
    }
}

.search-suggestion {
    z-index: 999 !important;
}

#pdf-controls {
    display: none;
}

.ePSHhz {
    overflow: auto !important;
}

/* Hide arrows in Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
.no-spinner {
    -moz-appearance: textfield;
}

/* ID Scan Override styles */
.idScan-btn {
    max-width: 400px;
    margin: 10px;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    background: black;
    color: white;
    padding: 10px 20px;
}

#idvc-change-document-type-btn {
    display: none;
}

.idvc {
    --el-card-radius-none: 0px;
    --el-card-radius-xs: 8px;
    --el-card-radius-s: 12px;
    --el-card-radius-m: 16px;
    --el-card-radius-l: 20px;
    --el-button-radius-none: 0px;
    --el-button-radius-s: 2px;
    --el-button-radius-m: 4px;
    --el-button-radius-l: 8px;
    --el-button-radius-round: 999px;
    --el-input-radius-default: 8px;
    --el-input-radius-round: 999px;
    --el-tag-radius-default: 6px;
    --el-tag-radius-round: 999px;
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-text-color-primary: #1c1c1c;
    --el-text-color-regular: #515151;
    --el-text-color-secondary: #808080;
    --el-text-color-placeholder: #a8a8a8;
    --el-text-color-disabled: #d3d3d3;
    --el-text-color-white: #ffffff;
    --el-text-color-opposite: #ffffff;
    --el-border-color-darker: #b6b6b6;
    --el-border-color-dark: #c0c0c0;
    --el-border-color: #d3d3d3;
    --el-border-color-light: #e0e0e0;
    --el-border-color-lighter: #ededed;
    --el-border-color-opposite: #000000;
    --el-fill-color-blank: #ffffff;
    --el-fill-color-extra-light: #fcfcfc;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-light: #f7f7f7;
    --el-fill-color: #f2f2f2;
    --el-fill-color-dark: #ededed;
    --el-fill-color-darker: #e8e8e8;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #ececec;
    --el-bg-color-overlay: #ffffff;
    --el-bg-color-app: #f5f5f5;
    --el-bg-color-opposite: #000000;
    --el-disabled-border-color: #e0e0e0;
    --el-disabled-bg-color: #f7f7f7;
    --el-disabled-text-color: #a8a8a8;
    --el-color-primary-rgb: #0067f5;
    --el-color-primary-dark: #004db8;
    --el-color-primary: #0067f5;
    --el-color-primary-light-3: #4c94f8;
    --el-color-primary-light-5: #7fb3fa;
    --el-color-primary-light-7: #b2d1fc;
    --el-color-primary-light-8: #cce1fd;
    --el-color-primary-light-9: #e5f0fe;
    --el-color-success-dark: #00720b;
    --el-color-success: #00980f;
    --el-color-success-light-3: #4cb757;
    --el-color-success-light-5: #7fcb87;
    --el-color-success-light-7: #b2e0b7;
    --el-color-success-light-8: #cceacf;
    --el-color-success-light-9: #e5f4e7;
    --el-color-warning-rgb: #cb7d10;
    --el-color-warning-dark: #985e0c;
    --el-color-warning: #cb7d10;
    --el-color-warning-light-3: #daa457;
    --el-color-warning-light-5: #e5be87;
    --el-color-warning-light-7: #efd8b7;
    --el-color-warning-light-8: #f5e5cf;
    --el-color-warning-light-9: #faf2e7;
    --el-color-danger-rgb: #cb0b00;
    --el-color-danger-dark: #980800;
    --el-color-danger: #cb0b00;
    --el-color-danger-light-3: #da544c;
    --el-color-danger-light-5: #e5857f;
    --el-color-danger-light-7: #efb5b2;
    --el-color-danger-light-8: #f5cecc;
    --el-color-danger-light-9: #fae6e5;
    --el-color-error-rgb: #cb0b00;
    --el-color-error-dark: #980800;
    --el-color-error: #cb0b00;
    --el-color-error-light-3: #da544c;
    --el-color-error-light-5: #e5857f;
    --el-color-error-light-7: #efb5b2;
    --el-color-error-light-8: #f5cecc;
    --el-color-error-light-9: #fae6e5;
    --el-color-info-rgb: #5c578f;
    --el-color-info-dark: #45416b;
    --el-color-info: #5c578f;
    --el-color-info-light-3: #8d89b0;
    --el-color-info-light-5: #adabc7;
    --el-color-info-light-7: #ceccdd;
    --el-color-info-light-8: #dedde9;
    --el-color-info-light-9: #eeeef4;
    --el-color-neutral-rgb: #333333;
    --el-color-neutral-dark: #191919;
    --el-color-neutral: #333333;
    --el-color-neutral-light-3: #4c4c4c;
    --el-color-neutral-light-5: #7f7f7f;
    --el-color-neutral-light-7: #b2b2b2;
    --el-color-neutral-light-8: #cccccc;
    --el-color-neutral-light-9: #e5e5e5;
    --el-box-shadow-lighter: 0px 2px 3px 0px rgba(0, 0, 0, 0.48),
        0px 0px 2px 0px rgba(0, 0, 0, 0.48);
    --el-box-shadow-light: 0px 2px 12px 0px rgba(0, 0, 0, 0.64),
        0px 1px 4px 0px rgba(0, 0, 0, 0.48);
    --el-box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.64),
        0px 2px 12px 0px rgba(0, 0, 0, 0.64),
        0px 1px 4px 0px rgba(0, 0, 0, 0.48);
    --el-box-shadow-dark: 0px 25px 48px 0px rgba(0, 0, 0, 0.64),
        0px 2px 12px 0px rgba(0, 0, 0, 0.48),
        0px 1px 4px 0px rgba(0, 0, 0, 0.48);
    --btn-border-radius-big: 8px;
    --btn-border-radius-small: 4px;
    --border-color-base: #dcdfe6;
    --color-background-subheader: #f5f6f9;
    --color-background-white: #fff;
    --color-background-gray: #eeeeee;
    --color-primary: #f87216;
    --color-success: rgb(0, 152, 15);
    --color-danger: #cb0b00;
    --color-warning: #e58600;
    --border-radius-base: 6px;
    --color-text-secondary: #909399;
    --color-black: #000;
    --color-white: #fff;
    --color-positive-light: #17ea4c;
    --border-color-divider: #c0c0c0;
    --color-text-secondary-light: #c4c4c4;
    --color-primary-light-2: #f87216;
    --color-primary-light-7: #b3d1fc;
    --color-primary-light-9: #ededed;
    --color-warning-light-8: #fae7cc;
    --color-success-light-8: #cceacf;
    --color-primary-dark-2: #f87216;
    width: 100%;
    font-size: 1rem;
    position: relative;
    min-height: 936px;
    font-family: Inter, sans-serif;
}

.slider {
    display: flex;
    overflow-x: hidden;
    cursor: grab;
}

.vc-loading-mask--enabled {
    display: block;
}

.el-loading-text {
    color: var(--color-primary) !important;
    margin: 3px 0;
    font-size: 14px;
}

.el-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.el-loading-spinner.enabled {
    display: block;
}

.el-loading-spinner .circular {
    height: 62px;
    width: 62px;
    animation: spin 1s linear infinite;
}

.el-loading-spinner .path {
    animation: loading-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: var(--color-primary) !important;
    stroke-linecap: round;
}

.message-box__container > .message-box__text {
    visibility: hidden;
    position: relative;
}

.message-box__container > .message-box__text::before {
    content: "Document Type";
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
}

.control-button__capture {
    color: var(--color-white) !important;
    background: var(--color-primary) !important;
}

.control-button__capture path {
    fill: var(--color-white);
}

.control-button__reset {
    border: 1px solid var(--color-danger);
    color: var(--color-danger);
}

.control-button__reset path {
    fill: var(--color-danger);
}

.control-button__start {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    background: var(--color-primary) !important;
}

.control-button__submit {
    color: var(--color-white);
    background-color: var(--el-color-success);
    border: 1px solid var(--el-color-success);
}
